body
{
    background-color:#1A1A1A;
	min-height: 768px;
	overflow-y: hidden;
	color:#EAEAEA;
}
p
{
	font-family: "Oxygen", sans-serif;
	font-size: 16px;
}
#header
{
	height: 120px;
}
#content
{
	min-height: 548px;
}
#navigation
{
	height: 60px;
}
#footer
{
	height: 40px;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"]
{
	background: #1A1A1A; /* Old browsers */
	background: #1A1A1A -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
	background: #1A1A1A -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
	background: #1A1A1A -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: #1A1A1A -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
	background: #1A1A1A -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
	background: #1A1A1A linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	background-color: #1A1A1A;
	border: 1px solid #1A1A1A;
	border-top: 1px solid #1A1A1A;
	border-left: 1px solid #1A1A1A;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #EAEAEA;
	cursor: pointer;
	margin-bottom: 20px;
	line-height: normal;
	padding: 8px 10px;
}
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover
{
	background: #2A2A2A; /* Old browsers */
	background: #2A2A2A -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
	background: #2A2A2A -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
	background: #2A2A2A -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: #2A2A2A -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
	background: #2A2A2A -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
	background: #2A2A2A linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	background-color: #2A2A2A;
	border: 1px solid #2A2A2A;
	border-top: 1px solid #2A2A2A;
	border-left: 1px solid #2A2A2A;
}
.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active
{
	background: #3A3A3A; /* Old browsers */
	background: #3A3A3A -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
	background: #3A3A3A -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
	background: #3A3A3A -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: #3A3A3A -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
	background: #3A3A3A -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
	background: #3A3A3A linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	background-color: #3A3A3A;
}
.navButton
{
	height: 60px;
	min-width: 128px;
	background-color:#1A1A1A;
	color:#EAEAEA;
	border-style: none;
	font-size: 24px;
	outline: none;
	font-family: "Oxygen", sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
}
#resume-header.h3
{
  text-align: center;
}
.projectButton
	{

	}
